.footer {
  display: flex;
  justify-content: flex-end; }

.agrandar {
  transition: all 2s; }

.agrandar:hover {
  transform: scale(1.5); }

.barraNav {
  background-color: #422852;
  color: #C192F0;
  font-family: 'Montserrat', sans-serif;
  border: none; }

.head {
  background-image: linear-gradient(to right, #422852, #C192F0);
  color: #C192F0; }

.imgHeader {
  width: 100%;
  height: 50vh; }

.footer {
  background-image: linear-gradient(to left, #523566, #BA77E6);
  font-family: 'Montserrat', sans-serif;
  color: #C192F0;
  font-weight: bold; }

.titulos {
  color: #4B4052;
  font-family: 'Montserrat', sans-serif; }

.fondos {
  background-color: #C192F0;
  padding: 10vh; }

.logo {
  margin-left: 10px;
  margin-top: 10px;
  height: 91px;
  width: 101px; }

.encabezado {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-decoration: none; }

.navbar-light .navbar-text {
  color: #C192F0; }

.navbar-light .navbar-toggler {
  color: #C192F0;
  border-color: #4B4052; }

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: #C192F0; }

.navbar-light .navbar-nav .nav-link {
  color: #C192F0; }

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: #C192F0; }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: #C192F0; }

.navbar-light .navbar-toggler {
  color: #C192F0;
  border-color: #4B4052; }

.navbar-light .navbar-text a,
.navbar-light .navbar-text a:hover,
.navbar-light .navbar-text a:focus {
  color: #4B4052;
  background-color: #7F4D9E; }
