@import "utilities/variables";
@import "utilities/extends";
@import "utilities/mixin";
@import "utilities/animaciones";
@import "layout/header";
@import "layout/footer";



.titulos {
    color: #4B4052;
    font-family: 'Montserrat', sans-serif;
}
.fondos {
    background-color: #C192F0;
    padding: 10vh;
}
.logo {
    margin-left: 10px;
    margin-top: 10px;
    height: 91px;
    width: 101px;
}
.encabezado {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.navbar-light .navbar-text {
    color: #C192F0;
}
.navbar-light .navbar-toggler {
    color: #C192F0;
    border-color:#4B4052;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: #C192F0;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #C192F0;
  }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #C192F0;
  }
 
  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: #C192F0;
  }
  .navbar-light .navbar-toggler {
    color: #C192F0;;
    border-color: #4B4052
  }

  .navbar-light .navbar-text a,
  .navbar-light .navbar-text a:hover,
  .navbar-light .navbar-text a:focus {
    color: #4B4052;
    background-color: #7F4D9E;
  }

